# Used for fetching models internally and serving it to the user when hitting /models/sync
# The user will still have to provide their own API key when chatting.
OPENROUTER_API_KEY=sk-or-...

# Default if running compose.yaml from this project
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/platform_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...